<div>
  <!--<p>Enter an item to search, and/or use the facets.</p>-->
  <!--<img id="splash-image" alt="Home Page Image" src="assets/ba-arc-20160328-2003-dsp.jpg"/>-->
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="carousel-item">
        <%= link_to image_tag("https://s3.amazonaws.com/static.britishart.yale.edu/blacklight/ba-obj-34-0007-pub.jpg", class: "splash-image", id: "splash-image0", alt: "Joseph Mallord William Turner, Dort or Dordrecht: The Dort packet-boat from Rotterdam becalmed, 1818"), "/catalog/tms:34" %>
        <div class="carousel-caption">
          <p>Joseph Mallord William Turner, Dort or Dordrecht: The Dort packet-boat from Rotterdam becalmed, 1818</p>
        </div>
      </div>

      <div class="carousel-item">
        <%= link_to image_tag("https://s3.amazonaws.com/static.britishart.yale.edu/blacklight/ba-obj-73165-0001-mas.jpg", class: "splash-image", id: "splash-image1", alt: "Yinka Shonibare CBE (RA), Mrs Pinckney and the Emancipated Birds of South Carolina, 2017"), "/catalog/tms:73165" %>
        <div class="carousel-caption">
          <p>Yinka Shonibare CBE (RA), Mrs Pinckney and the Emancipated Birds of South Carolina, 2017</p>
          <p style="font-size:80%; margin-top: -5px;">© Copyright Yinka Shonibare CBE RA, 2017.</p>
        </div>
      </div>

      <div class="carousel-item">
        <%= link_to image_tag("https://s3.amazonaws.com/static.britishart.yale.edu/blacklight/ba-obj-1511-0001-pub.jpg", class: "splash-image", id: "splash-image2", alt: "Dame (Jocelyn) Barbara Hepworth, Four Rectangles with Four Oblique Circles, 1966"), "/catalog/tms:1511" %>
        <div class="carousel-caption">
          <p>Dame (Jocelyn) Barbara Hepworth, Four Rectangles with Four Oblique Circles, 1966</p>
        </div>
      </div>

      <div class="carousel-item">
        <%= link_to image_tag("https://s3.amazonaws.com/static.britishart.yale.edu/blacklight/ba-obj-5057-0004-pub.jpg", class: "splash-image", id: "splash-image3", alt: "Ben Nicholson, May 1955 (Gwithian), 1955"), "/catalog/tms:5057" %>
        <div class="carousel-caption">
          <p>Ben Nicholson, May 1955 (Gwithian), 1955</p>
          <p style="font-size:80%; margin-top: -5px;">© Angela Verren Taunt 2020 / All rights reserved / ARS, NY / DACS, London</p>
        </div>
      </div>

      <div class="carousel-item">
        <%= link_to image_tag("https://s3.amazonaws.com/static.britishart.yale.edu/blacklight/ba-obj-82154-0010-pub.jpg", class: "splash-image", id: "splash-image4", alt: "Kehinde Wiley, Portrait of Lynette Yiadom-Boakye, Jacob Morland of Capplethwaite, 2017"), "/catalog/tms:82154" %>
        <div class="carousel-caption">
          <p>Kehinde Wiley, Portrait of Lynette Yiadom-Boakye, Jacob Morland of Capplethwaite, 2017</p>
          <p style="font-size:80%; margin-top: -5px;">© Kehinde Wiley</p>
        </div>
      </div>

      <div class="carousel-item">
        <%= link_to image_tag("https://s3.amazonaws.com/static.britishart.yale.edu/blacklight/ba-obj-74636-0001-pub.jpg", class: "splash-image", id: "splash-image5", alt: "William Henry Fox Talbot, The Building of Nelson’s Column ca., 1843"), "/catalog/tms:74636" %>
        <div class="carousel-caption">
          <p>William Henry Fox Talbot, The Building of Nelson’s Column ca., 1843</p>
        </div>
      </div>

      <div class="carousel-item">
        <%= link_to image_tag("https://s3.amazonaws.com/static.britishart.yale.edu/blacklight/ba-orb-9452785-0023-pub.jpg", class: "splash-image", id: "splash-image6", alt: "Helmingham herbal and bestiary, ca. 1500"), "/catalog/orbis:9452785" %>
        <div class="carousel-caption">
          <p>Helmingham herbal and bestiary, ca. 1500</p>
        </div>
      </div>

      <div class="carousel-item">
        <%= link_to image_tag("https://s3.amazonaws.com/static.britishart.yale.edu/blacklight/ba-obj-1403-0001-pub.jpg", class: "splash-image", id: "splash-image7", alt: "Gwen John, The Pilgrim, ca.1920"), "/catalog/tms:1403" %>
        <div class="carousel-caption">
          <p>Gwen John, The Pilgrim, ca.1920</p>
        </div>
      </div>

      <div class="carousel-item">
        <%= link_to image_tag("https://s3.amazonaws.com/static.britishart.yale.edu/blacklight/ba-orb-12590207-0001-pub.jpg", class: "splash-image", id: "splash-image8", alt: "Reeves & Sons, Box of pigments and implements for painting on china, ca. 1880"), "/catalog/orbis:12590207" %>
        <div class="carousel-caption">
          <p>Reeves & Sons, Box of pigments and implements for painting on china, ca. 1880</p>
        </div>
      </div>

      <div class="carousel-item">
        <%= link_to image_tag("https://s3.amazonaws.com/static.britishart.yale.edu/blacklight/ba-obj-414-0004-pub.jpg",  class: "splash-image", id: "splash-image9", alt: "Samuel Palmer, The Harvest Moon, ca. 1833"), "/catalog/tms:414" %>
        <div class="carousel-caption">
          <p>Samuel Palmer, The Harvest Moon, ca. 1833</p>
        </div>
      </div>

    </div>

    <div class="carousel-indicators">
      <button class="border border-dark" data-bs-target="#myCarousel" data-bs-slide-to="0"></button>
      <button class="border border-dark" data-bs-target="#myCarousel" data-bs-slide-to="1"></button>
      <button class="border border-dark" data-bs-target="#myCarousel" data-bs-slide-to="2"></button>
      <button class="border border-dark" data-bs-target="#myCarousel" data-bs-slide-to="3"></button>
      <button class="border border-dark" data-bs-target="#myCarousel" data-bs-slide-to="4"></button>
      <button class="border border-dark" data-bs-target="#myCarousel" data-bs-slide-to="5"></button>
      <button class="border border-dark" data-bs-target="#myCarousel" data-bs-slide-to="6"></button>
      <button class="border border-dark" data-bs-target="#myCarousel" data-bs-slide-to="7"></button>
      <button class="border border-dark" data-bs-target="#myCarousel" data-bs-slide-to="8"></button>
      <button class="border border-dark" data-bs-target="#myCarousel" data-bs-slide-to="9"></button>
    </div>

    <!-- Left and right controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

<script type="text/javascript">
    console.log("inline javascript!!");
    //import "bootstrap"; //this may work if script type="module"
    document.querySelector.innerHTML = document.querySelector("head title").text;
    var $items = document.querySelectorAll('.carousel-item');
    var $numberofSlides = document.querySelectorAll('.carousel-item').length;
    var $currentSlide = Math.floor((Math.random() * $numberofSlides));
    console.log("CurrentSlide:"+$currentSlide);
    var $divs = document.querySelectorAll('.carousel-indicators button');
    for (i = 0; i < $divs.length; ++i) {
        var $slideValue = $divs[i].getAttribute('data-bs-slide-to');
        console.log("SlideValue:"+$slideValue);
        if($currentSlide == $slideValue) {
            console.log("Add:"+$divs[i]);
            $divs[i].classList.add("active");
            $items[$slideValue].classList.add("active");
        } else {
            //console.log("Remove:"+$divs[i]);
            //if($divs[i])
            //$divs[i].classlist.remove('active');
            //$items[$slideValue].classlist.remove('active');
        }
    };
</script>
</div>
