<nav id="itemTab1" class="container">
  <ul class="nav nav-tabs">
    <% tab_active = true %>

    <% if tab_active %>
      <% if document_field_exists?(document,"curatorial_comment_ss")  %>
        <!--note: perhaps data-bs-target would work instead of href?-->
        <li class="nav-item active"><a class="nav-link" href="#1pane" data-bs-toggle="tab" role="tab" aria-controls="Curatorial Comments" aria-selected="true">Curatorial</br>Comments</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"curatorial_comment_ss") %>
        <li class="nav-item"><a class="nav-link" href="#1pane" data-bs-toggle="tab" role="tab" aria-controls="Curatorial Comments" aria-selected="false">Curatorial</br>Comments</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"curatorial_description_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#2pane" data-bs-toggle="tab" role="tab" aria-controls="Curatorial Descriptions" aria-selected="true">Curatorial</br>Descriptions</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"curatorial_description_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#2pane" data-bs-toggle="tab" role="tab" aria-controls="Curatorial Descriptions" aria-selected="false">Curatorial</br>Descriptions</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"gallery_label_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#3pane" data-bs-toggle="tab" role="tab" aria-controls="Gallery Labels" aria-selected="true">Gallery</br>Labels</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"gallery_label_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#3pane" data-bs-toggle="tab" role="tab" aria-controls="Gallery Labels" aria-selected="false">Gallery</br>Labels</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"pub_cat_entry_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#4pane" data-bs-toggle="tab" role="tab" aria-controls="Published Catalog Entries" aria-selected="true">Published</br>Catalog Entries</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"pub_cat_entry_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#4pane" data-bs-toggle="tab" role="tab" aria-controls="Published Catalog Entries" aria-selected="false">Published</br>Catalog Entries</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"work_excerpt_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#5pane" data-bs-toggle="tab" role="tab" aria-controls="Excerpts from this Work" aria-selected="true">Excerpts from</br>this Work</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"work_excerpt_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#5pane" data-bs-toggle="tab" role="tab" aria-controls="Excerpts from this Work" aria-selected="false">Excerpts from</br>this Work</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"artists_statement_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#6pane" data-bs-toggle="tab" role="tab" aria-controls="Artist's Statement" aria-selected="true">Artist's</br>Statement</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"artists_statement_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#6pane" data-bs-toggle="tab" role="tab" aria-controls="Artist's Statement" aria-selected="false">Artist's</br>Statement</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"provenance_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#7pane" data-bs-toggle="tab" role="tab" aria-controls="Provenance" aria-selected="true">Provenance</br>&nbsp</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"provenance_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#7pane" data-bs-toggle="tab" role="tab" aria-controls="Provenance" aria-selected="false">Provenance</br>&nbsp</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"exhibition_history_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#8pane" data-bs-toggle="tab" role="tab" aria-controls="Exhibition History" aria-selected="true">Exhibition</br>History</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"exhibition_history_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#8pane" data-bs-toggle="tab" role="tab" aria-controls="Exhibition History" aria-selected="false">Exhibition</br>History</a></li>
      <% end %>
    <% end %>

    <% if tab_active %>
      <% if document_field_exists?(document,"linked_citation_ss")  %>
        <li class="nav-item active"><a class="nav-link" href="#9pane" data-bs-toggle="tab" role="tab" aria-controls="Bibliography" aria-selected="true">Bibliography</br>&nbsp</a></li>
        <% tab_active = false %>
      <% end %>
    <% else %>
      <% if document_field_exists?(document,"linked_citation_ss")  %>
        <li class="nav-item"><a class="nav-link" href="#9pane" data-bs-toggle="tab" role="tab" aria-controls="Bibliography" aria-selected="false">Bibliography</br>&nbsp</a></li>
      <% end %>
    <% end %>

  </ul>
</nav>
</br>
<div class="tab-content clearfix">
  <% tab_active = true %>
  <% if document_field_exists?(document,"curatorial_comment_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" role="tabpanel" aria-labelledby="curatorial-comment-tab" id="1pane">
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="1pane" role="tabpanel" aria-labelledby="curatorial-comment-tab">
    <% end %>
    <% combine_curatorial_comments_tab(document).each_with_index do |field, i| %>
      <% if i > 0 %></br><% end %>
      <% field2 = field.gsub('---','</br>').gsub('\n','</br>').html_safe %>
      <div class="columns"><%= field2 %></div>
    <% end %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"curatorial_description_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="2pane" role="tabpanel" aria-labelledby="curatorial-description-tab">
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="2pane" role="tabpanel" aria-labelledby="curatorial-description-tab">
    <% end %>
    <% document["curatorial_description_ss"].each_with_index do |field, i| %>
      <% if i > 0 %></br><% end %>
      <% field2 = field.gsub('---','</br>').gsub('\n','</br>').html_safe %>
      <div class="columns"><%= field2 %></div>
    <% end %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"gallery_label_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="3pane" role="tabpanel" aria-labelledby="gallery-label-tab">
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="3pane" role="tabpanel" aria-labelledby="gallery-label-tab">
    <% end %>
    <% document["gallery_label_ss"].each_with_index do |field, i| %>
      <% if i > 0 %></br><hr style="border-top: 1px solid;"></br><% end %>
      <% field2 = field.gsub('---','</br>').gsub('\n','</br>').html_safe %>
      <div class="columns"><%= field2 %></div>
    <% end %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"pub_cat_entry_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="4pane" role="tabpanel" aria-labelledby="pub-cat-entry-tab">
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="4pane" role="tabpanel" aria-labelledby="pub-cat-entry-tab">
    <% end %>
    <% document["pub_cat_entry_ss"].each_with_index do |field, i| %>
      <% if i > 0 %></br><hr style="border-top: 1px solid;"></br><% end %>
      <% field2 = field.gsub('---','</br>').gsub('\n','</br>').html_safe %>
      <div class="columns"><%= field2 %></div>
    <% end %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"work_excerpt_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="5pane" role="tabpanel" aria-labelledby="work-excerpt-tab" >
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="5pane" role="tabpanel" aria-labelledby="work-excerpt-tab">
    <% end %>
    <% document["work_excerpt_ss"].each_with_index do |field, i| %>
      <% if i > 0 %></br><hr style="border-top: 1px solid;"></br><% end %>
      <% field2 = field.gsub('---','</br>').gsub('\n','</br>').html_safe %>
      <div class="columns"><%= field2 %></div>
    <% end %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"artists_statement_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="6pane" role="tabpanel" aria-labelledby="artists-statement-tab">
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="6pane" role="tabpanel" aria-labelledby="artists-statement-tab">
    <% end %>
    <% document["artists_statement_ss"].each_with_index do |field, i| %>
      <% if i > 0 %></br><hr style="border-top: 1px solid;"></br><% end %>
      <% field2 = field.gsub('---','</br>').gsub('\n','</br>').html_safe %>
      <div class="columns"><%= field2 %></div>
    <% end %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"provenance_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="7pane" role="tabpanel" aria-labelledby="provenance-tab">
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="7pane" role="tabpanel" aria-labelledby="provenance-tab">
    <% end %>
    <% document["provenance_ss"].each_with_index do |field, i| %>
      <% if i > 0 %></br><% end %>
      <% field2 = field.gsub('---','</br>').gsub('\n','</br>').html_safe %>
      <div><%= field2 %></div>
    <% end %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"exhibition_history_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="8pane" role="tabpanel" aria-labelledby="exhibition-history-tab">
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="8pane" role="tabpanel" aria-labelledby="exhibition-history-tab">
    <% end %>
    <%= render_exhibitions_tab(document) %>
    </div>
  <% end %>

  <% if document_field_exists?(document,"linked_citation_ss") %>
    <% if tab_active %>
      <div class="tab-pane active" id="9pane" role="tabpanel" aria-labelledby="bibliography-tab">
        <% tab_active = false %>
    <% else %>
      <div class="tab-pane" id="9pane" role="tabpanel" aria-labelledby="bibliography-tab">
    <% end %>
    <%= render_lido_citation_presorted_tab(document) %>
    </div>
  <% end %>

  </end>
  </br>
  <div id="ycba-object-contact-us">
    If you have information about this object that may be of assistance please <a href="mailto:ycba.online@yale.edu?subject=<%= information_link_subject(document) %>">contact us</a>.
  </div>
  <% if document[:eshop_ss] %>
    </br>
    <div class="row col-xs-offset-4">
      <div id="eshop" class="btn btn-primary col-xs-5" align="center">
        <%= link_to("Visit our Museum Shop for related items", document[:eshop_ss][0], style: "color: white;", target: "_blank") %>
      </div>
    </div>
  <% end %>
  <br/>