<script type="application/ld+json">
  <%= jsonld %>
</script>
<!--ERJ commented out -should be linked in application.scss-->
  <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--ERJcommented out -pinned in importmap and imported in inline module js below-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>-->
<style>
  .bs-example{
    margin: 100px;
  }
</style>
<script type="module">
    import bootstrap from "bootstrap"
    var iiifpopover = document.getElementById("iiifpopover");

    // Create a popover object with the same options as jQuery
    var popover = new bootstrap.Popover(iiifpopover, {
        container: "body",
        html: true,
        content: function() {
            // Get the element with id "iiifpopover_content_wrapper"
            var wrapper = document.getElementById("iiifpopover_content_wrapper");
            // Return its inner HTML
            return wrapper.innerHTML;
        }
    });
</script>
<% if document[:callnumber_ss] && document[:callnumber_ss][0].start_with?("L")  %>
  <div id="loan-header" align="left"><h3>On loan to the Yale Center for British Art</h3></div>
<% end %>

<div id="image-section" >

  <div class="row" style="padding-bottom: 10px">
    <% if manifest_thumb? %>
      <% iframe_width = "100%" %>
      <% iframe_height = "55vh" %>
    <% else %>
      <% iframe_width = "100%" %>
      <% iframe_height = "80vh" %>
    <% end %>
    <div class="uv-container" style="position: relative; margin: auto; width:<%= iframe_width %>; height:<%= iframe_height %>;">
      <iframe
        class="universal-viewer-iframe"
        title="Universal Viewer"
        src="<%= request&.base_url %>/uv/uv.html#?config=uv-config-lido.json&manifest=https://manifests.collections.yale.edu/v2/ycba/<%= cmstype? %>/<%= @document['id'].split(":")[1] %>"
        style="width:<%= iframe_width %>; height:<%= iframe_height %>;"
        allowfullscreen
        frameborder="0">
      </iframe>
    </div>
  </div>

  <!--<div class="btn-group row">-->
  <div style="display: flex; flex-direction: row;"">
    <div class="col-xs-1">&nbsp;</div>
    <div id="ycba-downloads-container">
      <%= render partial: "downloads", locals: {document: document} %>
    </div>
    <% unless document["collection_ss"][0] == "Reference Library" %>
      <div id="ycba-request-photography" class="btn btn-primary col-xs-3" align="center" style="width: fit-content;" >
        <%= link_to("Request additional photography", image_request_link(document), style: "color: white; text-decoration: none;", target: "_blank") %>
      </div>
    <% end %>

    <div id="ycba-thumbnail-controls" class="col-xs-2" align="center" style="padding-inline-end: 20px;">
      <a class="iiifpopover" data-bs-placement="bottom" title="Image Interoperability Framework" data-bs-toggle="popover" data-bs-content-id="iiifpopover_content_wrapper" id="iiifpopover">
        <img src="<%= path_to_image('logo-iiif.png') %>" class='img-responsive' alt='IIIF Actions' title='IIIF Actions' draggable></a>
      <!--<button type="button" class="btn" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">
        <img src="<%= path_to_image('logo-iiif.png') %>" class='img-responsive' alt='IIIF Actions' title='IIIF Actions' draggable>
      </button>-->
      <div id="iiifpopover_content_wrapper" style="display: none;">
        <div>IIIF provides researchers rich metadata and media viewing options for comparison of works across cultural heritage collections. Visit the <a target="_blank" href="https://iiif.io">IIIF page</a> to learn more.</div>
        <hr>
        <div><%= link_to("View Manifest",get_manifest_from_document(@document),target: :_blank) %></div>
        <div><a target="_blank" href="https://view.collections.yale.edu/uv3/?manifest=https://manifests.collections.yale.edu/ycba/<%= cmstype? %>/<%= @document['id'].split(":")[1] %>">View in Universal Viewer</a></div>
        <div><a target="_blank" href="https://view.collections.yale.edu/m3/?manifest=https://manifests.collections.yale.edu/ycba/<%= cmstype? %>/<%= @document['id'].split(":")[1] %>">View in Mirador 3</a></div>
        <div>
          <a target="_blank" href="https://view.collections.yale.edu/uv3/?manifest=https://manifests.collections.yale.edu/ycba/<%= cmstype? %>/<%= @document['id'].split(":")[1] %>">
            <img src="<%= path_to_image('logo-iiif.png') %>" class='img-responsive' alt='IIIF Manifest' title='Drag and Drop' draggable>
          </a>
        </div>
      </div>
    </div>

    <div id="right-icons" class="col-xs-2" align="center">
      <% if document_field_exists?(document,"rightsURL_ss") && document["rightsURL_ss"][0].to_s.include?("rightsstatements.org/vocab/InC/1.0/") %>
        <a target="_blank" href="https://rightsstatements.org/vocab/InC/1.0/">
          <img width="135px;"src='https://rightsstatements.org/files/buttons/InC.dark-white-interior-blue-type.png' class='img-responsive' alt='In Copyright' title='In Copyright'>
        </a>
      <% end %>
      <% if document_field_exists?(document,"rightsURL_ss") && document["rightsURL_ss"][0].to_s.include?("creativecommons.org/publicdomain/zero/1.0/") %>
        <a target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/">
          <img width="135px;" src='https://mirrors.creativecommons.org/presskit/buttons/88x31/png/cc-zero.png' class='img-responsive' alt='Public Domain' title='Public Domain'>
        </a>
      <% end %>
      <% if document_field_exists?(document,"rightsURL_ss") && document["rightsURL_ss"][0].to_s.include?("rightsstatements.org/vocab/UND/1.0/") %>
        <a target="_blank" href="https://rightsstatements.org/vocab/UND/1.0/">
          <img src='https://rightsstatements.org/files/buttons/UND.dark-white-interior-blue-type.png' class='img-responsive' alt='Copyright Undetermined' title='Copyright Undetermined'>
        </a>
      <% end %>
      <% if document_field_exists?(document,"rightsURL_ss") && document["rightsURL_ss"][0].to_s.include?("https://rightsstatements.org/vocab/NoC-CR/1.0/") %>
        <a target="_blank" href="https://rightsstatements.org/vocab/NoC-CR/1.0/">
          <img src='https://rightsstatements.org/files/buttons/NoC-CR.dark-white-interior-blue-type.png' class='img-responsive' alt='Contractual Restrictions' title='Contractual Restrictions'>
        </a>
      <% end %>
    </div>
  </div>
  <!-- former place of eshop-->
</div>